:root {
    --cor0: #c5ebd6;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}


body{
    background-color: rgb(124, 241, 183);
    margin: 0;
}

header{
    width: 100%;
    padding: 10px;
    background-color: rgba(4, 197, 4, 0.774);
    color: white;
    box-shadow: 5px 5px 10px;
}

#titulo{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
}

#barraMenu{
    text-align: left;
    color: white;

}

#barraMenu > a{
    color: rgb(253, 231, 231);
}

a{
    color: rgb(7, 43, 0);
    text-decoration: none;
}
a:hover{
    color: rgb(11, 65, 11);
    padding: 2px;
    box-shadow: 1px 1px 3px;
    
}

main{
    background-color: white;
    padding: 10px;
    width: 60%;
    margin: auto;
    box-shadow: 2px 2px 3px;
    
}

#titulo2{
    color: green;
}

h2{
    
    background-image: linear-gradient(to right, rgb(44,196,44), transparent);
    color: rgb(226, 255, 226);
}

main p{
    text-align: justify;
    text-indent: 20px;
}

img{
    width: 100%;
}

img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
    background-color: rgb(132, 255, 132);
    margin: 0px -10px 30px -10px;
    padding: 15px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe{

    position: absolute;
    top: 3%;
    left: 2%;
    width: 96%;
    height: 93%;
}

aside{
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 5px;
}

aside > h3{
    background-image: linear-gradient(to right, rgb(44,196,44), transparent);
    color: rgb(226, 255, 226);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 5px 5px 0px 0px;
}

aside > ul{
    list-style-type: "\2714\00A0";
    columns: 2;
}


#footer{
    padding: 10px;
    background-color: rgba(4, 197, 4, 0.774);
    text-align: center;
    width: 100%;
    box-shadow: 1px 1px 1px;
}